OfficeProvisioningSchema-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://github.com/wictorwilen/OfficeProvisioning/OfficeProvisioningSchema-1.0.xsd"
    elementFormDefault="qualified"
    xmlns="https://github.com/wictorwilen/OfficeProvisioning/OfficeProvisioningSchema-1.0.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
          
>


  <xs:complexType name="ExtensionsType" >
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Extensions are custom XML elements and instructions that can be extensions of this default schema or vendor or engine specific extensions.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax" namespace="##other"/>
    </xs:sequence>

  </xs:complexType>


  <xs:simpleType name="ProvisioningRequirements">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Indicates that the target has to be provisioned during an provisioning execution.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Required">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The target has to be provisioned and supported by the engine
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The target is optional to be provisioned and optional to be supported by the engine
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Sequence">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="65536" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="guid">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The representation of a GUID, generally the id of an element.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SPBoolean">
    <xs:annotation>
      <xs:documentation>A Boolean field</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="TRUE"/>
      <xs:enumeration value="True"/>
      <xs:enumeration value="false"/>
      <xs:enumeration value="0"/>
      <xs:enumeration value="FALSE"/>
      <xs:enumeration value="False"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProvisioningAction">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Indicates how the engine should provision the item
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Provision">
        <xs:annotation>
          <xs:documentation>
            Provisions the item. Should be default
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ignore">
        <xs:annotation>
          <xs:documentation>
            The provisioning engine should ignore this item.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Inherit">
        <xs:annotation>
          <xs:documentation>
            Inherit the provisioning action from a parent Container
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="unprovision">
        <xs:annotation>
          <xs:documentation>
            The engine should unprovision (delete) the item
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>

  <!--THe base container type-->
  <xs:complexType name="ContainerType" abstract="true">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID"  use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          A unique identifier for the container.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Title" type="ReplaceableString"  use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          A Title identifier for the container.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OverwriteOptions" type="OverwriteOptions" use="optional" default="Inherit">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Specifies how the engine should handle situations when the container already exists. Default is to inherit
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ProvisioningSupport" type="ProvisioningRequirements" use="optional" default="Optional">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[
          Requirements on the provisioning engine.
          - Required: the engine must support this container type and it must be provisioned
          - Optional: the engine must not support this container and it's optional to be provisioned
          ]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ProvisioningAction" type="ProvisioningAction" use="optional" default="Provision"/>
  </xs:complexType>



  <xs:complexType name="GroupMembersType" >
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="GroupMember" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="ID" use="required" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="UserRef" minOccurs="0" maxOccurs="unbounded" type="UserRefType"/>
    </xs:sequence>

  </xs:complexType>




  <!-- For instance a SharePoint Site -->
  <xs:complexType name="SiteType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:choice minOccurs="1">
            <xs:element name="TemplateReference" type="xs:IDREF" nillable="false"/>
            <xs:element name="SiteTemplate" type="SiteTemplatesType" nillable="false" />
          </xs:choice>
          <xs:group  minOccurs="0" maxOccurs="unbounded" ref="SiteElements"/>
        </xs:sequence>

        <xs:attributeGroup ref="SiteAttributes"/>
        <!--<xs:attribute name="template-ref" type="xs:IDREF" use="optional"/>-->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SiteTemplateType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="SiteTemplate" type="SiteTemplatesType" nillable="false" minOccurs="1"/>
          </xs:choice>
          <xs:choice>
            <xs:element name="PropertyBag" type="PropertyBagType" nillable="false" minOccurs="0"/>
          </xs:choice>
          <xs:group  minOccurs="0" maxOccurs="unbounded" ref="SiteElements"/>
        </xs:sequence>
        <xs:attributeGroup ref="SiteAttributes"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CustomActionType">
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:attribute name="Location" type="xs:string" use="optional" />
        <xs:attribute name="ScriptSrc" type="xs:string" use="optional" />
        <xs:attribute name="Sequence" type="Sequence" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PropertyBagType">
    <xs:sequence>
      <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:sequence>
    </xs:sequence>
    <xs:attribute name="Key" type="xs:string" use="required" />
    <xs:attribute name="Value" type="ReplaceableString" />
    <xs:attribute name="Indexed" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:group name="SiteElements">
    <xs:sequence >

      <xs:element name="Sites" minOccurs="0" maxOccurs="1"  >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Site" type="SiteType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Lists"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="List" type="ListType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Files"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="File" type="FileType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Pages"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Page" type="PageType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Features"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Feature" type="FeatureType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Fields"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Field" type="FieldType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ContentTypes"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ContentType" type="ContentTypeType" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SiteGroups" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DefaultSiteGroup" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SiteGroupMembers" type="GroupMembersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="DefaultGroup" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="Visitors"/>
                      <xs:enumeration value="Members"/>
                      <xs:enumeration value="Owners"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attributeGroup ref="GroupAttributes"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="SiteGroup" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SiteGroupMembers" type="GroupMembersType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="Title" use="required" type="ReplaceableString"/>
                <xs:attributeGroup ref="GroupAttributes"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CustomActions"  minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CustomAction" type="CustomActionType" maxOccurs="unbounded" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="GroupAttributes">
    <xs:attribute name="AllowMembersEditMembership" type="xs:boolean"  use="optional"/>
    <xs:attribute name="OnlyAllowMembersViewMembership" type="xs:boolean"  use="optional"/>
    <xs:attribute name="AllowRequestToJoinLeave" type="xs:boolean"  use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="SiteAttributes">
    <xs:attribute name="Title" type="ReplaceableString"  use="required"/>
    <xs:attribute name="Url" type="ReplaceableString" use="optional"/>
    <xs:attribute name="CustomJSUrl" type="ReplaceableString" use="optional"/>
    <xs:attribute name="QuickLaunchEnabled" type="xs:boolean" use="optional"/>
    <xs:attribute name="EnableMinimalDownload" type="xs:boolean" use="optional"/>
    <xs:attribute name="AlternateCssUrl" type="ReplaceableString" use="optional"/>
    <xs:attribute name="AllowDesigner" type="xs:boolean" use="optional"/>
    <xs:attribute name="TimeZone" type="ReplaceableInt" use="optional" />
  </xs:attributeGroup>




  <xs:simpleType name='ReplaceableString' id='ReplaceableString'>
    <xs:annotation>
      <xs:documentation>
        A Replaceable string is a string that contains parameters enclosed by curly braces {...}
        At runtime the provisioning engine replaces those parameters with the parameters specified in Preferences/Parameters
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:annotation>
        <xs:documentation>
          TODO: this should be replaced with a better regexp to validate Replaceable strings
        </xs:documentation>
      </xs:annotation>
      <xs:pattern value='[\s\S]+'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='ReplaceableInt' id='ReplaceableInt'>
    <xs:annotation>
      <xs:documentation>
        TODO
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:annotation>
        <xs:documentation>
          TODO: regexp that validates either an integer or something like this "{lcid}"
        </xs:documentation>
      </xs:annotation>
      <xs:pattern value='[\s\S]+'/>
    </xs:restriction>
  </xs:simpleType>




  <!-- For instance a SharePoint Site Collection-->
  <xs:complexType name="SiteCollectionType"  >
    <xs:complexContent>
      <xs:extension base="SiteType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="TermStore" type="TermStoreType" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="Url" type="ReplaceableString" use="required"/>
        <xs:attribute name="StorageMaximumLevel" type="ReplaceableInt" use="optional"/>
        <xs:attribute name="StorageWarningLevel" type="ReplaceableInt" use="optional"/>
        <xs:attribute name="UserCodeMaximumLevel" type="ReplaceableInt" use="optional"/>
        <xs:attribute name="UserCodeWarningLevel" type="ReplaceableInt" use="optional"/>
        <xs:attribute name="QuotaTemplate" type="ReplaceableString" use="optional"/>
        <xs:attribute name="PrimarySiteCollectionAdmin" type="ReplaceableString" use="required"/>
        <xs:attribute name="SecondarySiteCollectionAdmin" type="ReplaceableString" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- For instance an Exchange Mailbox-->
  <xs:complexType name="MailboxType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:attribute name="Source" type="ReplaceableString" use="required"/>
        <xs:attribute name="Target" type="ReplaceableString" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



  <xs:complexType name="PageType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:element name="WebParts" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="WebPartXmlDefinition" minOccurs="1" maxOccurs="1" nillable="false" type="ReplaceableString"/>                  
              </xs:sequence>
              <xs:attribute name="ZoneID" type="xs:string" use="required"/>
              <xs:attribute name="ZoneIndex" type="xs:int" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Url" type="ReplaceableString" use="required"/>
        <xs:attribute name="TemplateFile" type="ReplaceableString" use="required"/>
        <xs:attribute name="IsHomePage" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="YammerGroupType" >
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A Yammer Group
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:element name="Admins"  minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Administrators of the Yammer Group
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="UserRef"  type="UserRefType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Members"  minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Members of the Yammer Group
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="UserRef"  type="UserRefType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Description of the Yammer Group
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="network" use="required" type="ReplaceableString">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              The name of the Yammer network
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="privacy" use="optional" default="public">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="public"/>
              <xs:enumeration value="private"/>
              <xs:enumeration value="private-hidden"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ListType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element name="ContentTypeBindings" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ContentTypeBinding" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:attribute name="ContentTypeID" type="ContentTypeId" use="required"/>
                    <xs:attribute name="Default" type="xs:boolean" use="optional"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Views" maxOccurs="1" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:all>
                      <xs:element name="ViewQuery" type="xs:string" nillable="false" minOccurs="1">

                      </xs:element>
                      <xs:element name="ViewFieldRefs" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="FieldRef" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:attribute name="Name" use="optional" type="xs:string"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="JSLink" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                      <xs:element name="RowLimit" type="RowLimitDefinition" minOccurs="0" maxOccurs="1" />
                    </xs:all>
                    <xs:attribute name="DisplayName" type="ReplaceableString" use="required"/>
                    <xs:attribute name="DefaultVieww" type="xs:boolean" use="optional"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Url" type="ReplaceableString" use="optional"/>
        <xs:attribute name="TemplateType" type="xs:integer" use="required"/>
        <xs:attribute name="Description" type="xs:string" use="optional"/>
        <xs:attribute name="OnQuickLaunch" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="QuickLaunchUrl" type="xs:string" use="optional"/>
        <xs:attribute name="EnableVersioning" type="xs:boolean" use="optional"/>
        <xs:attribute name="EnableMinorVersions" type="xs:boolean" />
        <xs:attribute name="EnableContentTypes" type="xs:boolean" />
        <xs:attribute name="RemoveDefaultContentType" type="xs:boolean" use="optional" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="RowLimitDefinition">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="Paged" type="SPBoolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:complexType name="FieldType" >
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="Choices">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="Choice" nillable="false" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="ID" use="required" type="guid"/>
    <xs:attribute name="Name" use="required" type="xs:string"/>
    <xs:attribute name="DisplayName" use="optional" type="xs:string"/>
    <xs:attribute name="Group" use="optional" type="xs:string"/>
    <xs:attribute name="MaxLength" use="optional" type="xs:integer"/>
    <xs:attribute name="AllowDeletion" use="optional" type="SPBoolean"/>
    <xs:attribute name="Type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AllDayEvent"/>
          <xs:enumeration value="Attachments"/>
          <xs:enumeration value="Boolean"/>
          <xs:enumeration value="Calculated"/>
          <xs:enumeration value="Choice"/>
          <xs:enumeration value="Computed"/>
          <xs:enumeration value="ContentTypeId"/>
          <xs:enumeration value="Counter"/>
          <xs:enumeration value="CrossProjectLink"/>
          <xs:enumeration value="Currency"/>
          <xs:enumeration value="DateTime"/>
          <xs:enumeration value="File"/>
          <xs:enumeration value="GridChoice"/>
          <xs:enumeration value="Guid"/>
          <xs:enumeration value="Lookup"/>
          <xs:enumeration value="LookupMulti"/>
          <xs:enumeration value="ModStat"/>
          <xs:enumeration value="MultiChoice"/>
          <xs:enumeration value="MultiColumn"/>
          <xs:enumeration value="Note"/>
          <xs:enumeration value="Number"/>
          <xs:enumeration value="PageSeparator"/>
          <xs:enumeration value="Recurrence"/>
          <xs:enumeration value="Text"/>
          <xs:enumeration value="ThreadIndex"/>
          <xs:enumeration value="URL"/>
          <xs:enumeration value="User"/>
          <xs:enumeration value="UserMulti"/>
          <xs:enumeration value="WorkflowEventType"/>
          <xs:enumeration value="WorkflowStatus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ProvisioningAction" type="ProvisioningAction" use="optional" default="Provision"/>
  </xs:complexType>


  <xs:simpleType name='ContentTypeId' id='ContentTypeId'>
    <xs:restriction base='xs:string'>
      <xs:annotation>
        <xs:documentation>

        </xs:documentation>
      </xs:annotation>
      <xs:pattern value='0x[a-zA-Z0-9]+'/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="ContentTypeType" >
    <xs:all>
      <xs:element name="FieldRefs" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FieldRef" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="ID" type="guid" use="required"/>
                <xs:attribute name="Name" use="optional" type="xs:string"/>
                <xs:attribute name="DisplayName" use="optional" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="JSLink" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
    </xs:all>
    <xs:attribute name="ID" use="required" type="ContentTypeId"/>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="Group" type="xs:string" use="optional"/>
    <xs:attribute name="Inherits" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="Version" type="xs:integer" use="optional"/>
  </xs:complexType>


  <xs:complexType name="FeatureType" >
    <xs:attribute name="ID" use="required" type="xs:string"/>
    <xs:attribute name="Name" use="optional" type="xs:string" />
    <xs:attribute name="Activate" use="optional" type="xs:boolean" default="true"/>
    <xs:attribute name="Scope" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Web"/>
          <xs:enumeration value="Site"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TermStoreType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:element name="TermGroup" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="TermBase">
                  <xs:sequence>
                    <xs:element name="TermSet" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="TermBase">
                            <xs:sequence >
                              <xs:element name="Term" type="TermType" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Scope" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Default"/>
              <xs:enumeration value="Current"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TermBase" >
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="ID" type="guid" use="optional"/>
  </xs:complexType>



  <xs:complexType name="TermType" >
    <xs:complexContent>
      <xs:extension base="TermBase">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element name="Term" type="TermType"  maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GroupType" >
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element name="GroupMembers" type="GroupMembersType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserRefType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A reference to a UserType element
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ID" use="required" type="xs:IDREF"/>
  </xs:complexType>

  <xs:complexType name="SiteTemplatesType">
    <xs:simpleContent>
      <xs:extension base="SiteTemplateOptions">
        <xs:attribute name="Locale" use="required" type="ReplaceableInt"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="SiteTemplateOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STS#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Team Site
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLOG#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Blog
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BDR#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Document Center
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DEV#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Developer Site
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OFFILE#1" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Records Center
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EHS#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Team Site - SharePoint Online configuration
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BICenterSite#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Business Intelligence Center
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SRCHCEN#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Enterprise Search Center
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLANKINTERNETCONTAINER#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Publishing Portal
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ENTERWIKI#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Enterprise Wiki
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PROJECTSITE#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Project Site
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRODUCTCATALOG#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Product Catalog
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COMMUNITY#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Community Site
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COMMUNITYPORTAL#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Community Portal
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SRCHCENTERLITE#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Basic Search Center
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visprus#0" >
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Visio Process Repository
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OverwriteOptions">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Specifies how the engine should handle scenarios where the Container already exists.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prohibitied">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The item must not be overwritten or updated
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Allowed">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            The item should be updated if already existing
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inherit">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Overwrite option is inherited from parent Container or general preferences
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ImportSequenceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Imports sequences from an external file. All current properties should be sent to that file.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Absolute or relative path to the file.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TemplatesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Templates...
      </xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="SiteTemplate" type="SiteTemplateType" maxOccurs="unbounded" minOccurs="0">

      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          A unique identifier of the Templates collection
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SequenceType" >
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Each Provisioning file is split into a set of Sequence elements.
        The Sequence element groups the artefacts to be provisioned into groups.
        The Sequences must be evaluated by the provisioning engine in the order in which they appear.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded" >
      <xs:element name="SiteCollection" type="SiteCollectionType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Mailbox" type="MailboxType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="YammerGroup" type="YammerGroupType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="TermStore" type="TermStoreType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="User" type="UserType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Group" type="GroupType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="Extensions" type="ExtensionsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="SequenceType" default="Synchronous" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Instructions to the Provisioning engine on how the Containers within the Sequence can be provisioned.
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Synchronous">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                The Containers within this Sequence has to be provisioned Synchronous in the order that they appear.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Asynchronous">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                The Containers within this Sequence can be provisioned Asynchronously.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ID" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          A unique identifier of the Sequence
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="OverwriteOptions" type="OverwriteOptions" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Specifies the default overwrite options for the Sequence
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>



  <xs:complexType name="PreferencesType" >
    <xs:annotation>
      <xs:documentation>General settins of this Provisioning file</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProvisioningSettings">
        <xs:complexType>
          <xs:attribute name="OverwriteOptions" type="OverwriteOptions" use="optional" default="Allowed">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                The default overwrite settings of the provisioning file. Default value is prohibited.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Parameters">
        <xs:annotation>
          <xs:documentation>
            Definition of parameters
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Parameter" maxOccurs="unbounded" >
              <xs:complexType mixed="true">
                <xs:attribute name="Key" use="required" type="xs:string">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">
                      The name of the Parameter
                    </xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Required" use="optional" type="xs:boolean" default="false">
                  <xs:annotation>
                    <xs:documentation>When set to true then a value must be provided in the XML or provided at runtime</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Version" type="xs:string"  use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Optional version number.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Author" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Optional Author name
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Generator" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">
          Optional Name of tool generating this file
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>



  <xs:complexType name="ProvisioningType">
    <xs:sequence>
      <xs:element name="Preferences" type="PreferencesType" minOccurs="1" maxOccurs="1"/>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="Templates" type="TemplatesType" minOccurs="0"/>
        <xs:element name="Sequence" type="SequenceType" minOccurs="0"/>
        <xs:element name="ImportSequence" type="ImportSequenceType"  minOccurs="0"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <!-- The main element-->
  <xs:element name="Provisioning" type="ProvisioningType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        This is the base element of a Provisioning File.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
